<div id="newsMerquee">
    <div class="container">
        <div class="newsBlock">
            <span>Latest News</span>
            <p class="microsoft marquee"><span id="div1"> Egyptian Kiosak : an interconnected drug network of police , users , and kiosk opertors
                    <img class="img" width="27" height="20" src="assets/images/brand.png" />
                    Egyptian Kiosak : an interconnected drug network of police , users , and kiosk opertors
                    <img class="img" width="27" height="20" src="assets/images/brand.png" /></span>
                <span id="div2"> Egyptian Kiosak : an interconnected drug network of police , users , and kiosk opertors
                    <img class="img" width="27" height="20" src="assets/images/brand.png" />
                    Egyptian Kiosak : an interconnected drug network of police , users , and kiosk opertors
                    <img class="img" width="27" height="20" src="assets/images/brand.png" /></span>
            </p>
        </div>
    </div>
</div>

<!-- energy Conference-->
<div class="section1">
    <div class="container">
        <div class="heading">
            <h3 class="sectioneOneH3">Energy Conference</h3>
            <hr class="sectionOneHr" />
        </div>

        <div class="row">
            <div class="col-md-5 col-xs-12">
                <img class="img img-responsive" src="assets/images/Energy.jpg" alt="EnerngyImg" />
            </div>
            <article class="col-md-7 col-xs-12 articleCol">
                <p>The conference comes amid a local market that set a legal framework for the first time to liberate the energy
                    market and invest in new and renewable energy. In addition to signing the Dabaa nuclear power plant convention,
                    the feed-in tariff agreements that have entered into force as well as a comprehensive plan for the development
                    of the electricity sector.
                </p>
                <p>
                    The conference comes amid a local market that set a legal framework for the first time to liberate the energy market and
                    invest in new and renewable energy. In addition to signing .
                </p>
            </article>
        </div>
    </div>
</div>

<!-- Section 2-->
<div id="sectionTwo">
    <div class="container">
        <h3 class="">-The Third Annual Energy Conference Energy and Sustainable Development</h3>
        <div class="row">
            <div class="col-md-5 col-xs-12">
                <div id="SectionTwoImgOne">
                    <img class="img img-responsive" src="assets/images/sec2img1.jpg" alt="Sec2Img1" />
                </div>
                <div id="secTwoImagesTwo">
                    <div class="col-xs-3 sponserCol">
                        <img class="img img-responsive" src="assets/images/lexus.jpg" alt="lexus">
                    </div>
                    <div class="col-xs-3 sponserCol">
                        <img class="img img-responsive" src="assets/images/chevorlet2.jpg" alt="chevorlet">
                    </div>
                    <div class="col-xs-3 sponserCol">
                        <img class="img img-responsive" src="assets/images/Buick.jpg" alt="Buick">
                    </div>
                    <div class="col-xs-3 sponserCol">
                        <img class="img img-responsive" src="assets/images/mazda2.jpg" alt="mazda">
                    </div>
                </div>
            </div>
            <article class="col-md-7 col-xs-12 sec2Article">
                <h4>May 25,2016</h4>
                <h4>International City Stars</h4>
                <p>In 27 March 2016,Business News Foundation is holding its third annual energy conference amid numerous shifts
                    at the local, regional and global levels and in the trends of investment in the energy sector. Business
                    News Foundation is holding.
                </p>
                <div id="famousSec" class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12 famousCol">
                        <div id="imgDiv"><img class="img img-responsive" src="assets/images/f1.jpg" alt="famous1"></div>
                        <div class="personName">
                            <span>H.E.Sherif Ismail Mohamed</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 famousCol">
                        <div id="imgDiv"><img class="img img-responsive" src="assets/images/f2.jpg" alt="famous2"></div>
                        <div class="personName">
                            <span>H.E.Ashraf Soliman Ahmed</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 famousCol">
                        <div id="imgDiv"><img class="img img-responsive" src="assets/images/f3.jpg" alt="famous3"></div>
                        <div class="personName">
                            <span>H.E.Ahmed Emam Ali<span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 famousCol">
                        <div id="imgDiv"><img class="img img-responsive" src="assets/images/f4.jpg" alt="famous4"></div>
                        <div class="personName">
                            <span>H.E.Sahar Naser Mohamed</span>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>

<!--Section3-->
<div id="sectionThree">
    <div class="container">
        <h3 class="">-The Third Annual Energy Conference Energy and Sustainable Development</h3>
        <div class="row">
            <div class="col-md-5 col-xs-12">
                <div id="SectionTwoImgOne">
                    <img class="img img-responsive" src="assets/images/sec2img1.jpg" alt="Sec2Img1" />

                </div>
                <div id="secTwoImagesTwo">
                    <div class="col-xs-3 sponserCol">
                        <img class="img img-responsive" src="assets/images/lexus.jpg" alt="lexus">

                    </div>
                    <div class="col-xs-3 sponserCol">
                        <img class="img img-responsive" src="assets/images/chevorlet2.jpg" alt="chevorlet">
                    </div>
                    <div class="col-xs-3 sponserCol">
                        <img class="img img-responsive" src="assets/images/Buick.jpg" alt="Buick">
                    </div>
                    <div class="col-xs-3 sponserCol">
                        <img class="img img-responsive" src="assets/images/mazda2.jpg" alt="mazda">
                    </div>
                </div>
            </div>
            <article class="col-md-7 col-xs-12 sec2Article">
                <h4>May 25,2016</h4>
                <h4>International City Stars</h4>
                <p>In 27 March 2016,Business News Foundation is holding its third annual energy conference amid numerous shifts
                    at the local, regional and global levels and in the trends of investment in the energy sector. Business
                    News Foundation is holding.
                </p>
                <div id="famousSec" class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12 famousCol">
                        <img class="img img-responsive" src="assets/images/f1.jpg" alt="famous1">
                        <div class="personName">
                            <span>H.E.Sherif Ismail Mohamed</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 famousCol">
                        <img class="img img-responsive" src="assets/images/f2.jpg" alt="famous2">
                        <div class="personName">
                            <span>H.E.Ashraf Soliman Ahmed</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 famousCol">
                        <img class="img img-responsive" src="assets/images/f3.jpg" alt="famous3">
                        <div class="personName">
                            <span>H.E.Ahmed Emam Ali<span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 famousCol">
                        <img class="img img-responsive" src="assets/images/f4.jpg" alt="famous4">
                        <div class="personName">
                            <span>H.E.Sahar Naser Mohamed</span>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>

<!--Section 4 (Dynamic section)-->
<div id="sectionFour">
    <div class="container">
        <h3 class="">-{{ news.newsTitle }}</h3>
        <div class="row" id="myRow">
            <div class="col-md-5 col-xs-12">
                <div id="SectionTwoImgOne">
                    <img class="img img-responsive" ng-src="data:image/jpg;base64,{{firstSponser}}" alt="Sec2Img1" />
                </div>
                <div id="secTwoImagesTwo">
                    <div class="col-xs-3 sponserCol" ng-repeat="sponser in restOfSponsers">
                        <img class="img img-responsive" ng-src="data:image/jpg;base64,{{sponser}}" alt="lexus">
                    </div>
                </div>
            </div>
            <article class="col-md-7 col-xs-12 sec2Article">
                <h4>{{ newsDate }}</h4>
                <h4>{{ news.place }}</h4>
                <p>{{ news.article }}</p>
                <div id="famousSec" class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12 famousCol" ng-repeat="image in images">
                        <img class="img img-responsive" ng-src="data:image/jpg;base64,{{image.path}}" alt="famous1">
                        <div class="personName">
                            <span>{{image.imageDes}}</span>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>

<!--Section 5-->
<div id="sectionFive">
    <div class="container">
        <h3 class="">-The Third Annual Energy Conference Energy and Sustainable Development</h3>
        <div class="row">
            <div class="col-md-5 col-xs-12">
                <div id="SectionTwoImgOne">
                    <img class="img img-responsive" src="assets/images/sec2img1.jpg" alt="Sec2Img1" />
                </div>
                <div id="secTwoImagesTwo">
                    <div class="col-xs-3 sponserCol">
                        <img class="img img-responsive" src="assets/images/lexus.jpg" alt="lexus">
                    </div>
                    <div class="col-xs-3 sponserCol">
                        <img class="img img-responsive" src="assets/images/chevorlet2.jpg" alt="chevorlet">
                    </div>
                    <div class="col-xs-3 sponserCol">
                        <img class="img img-responsive" src="assets/images/Buick.jpg" alt="Buick">
                    </div>
                    <div class="col-xs-3 sponserCol">
                        <img class="img img-responsive" src="assets/images/mazda2.jpg" alt="mazda">
                    </div>
                </div>
            </div>
            <article class="col-md-7 col-xs-12 sec2Article">
                <h4>May 25,2016</h4>
                <h4>International City Stars</h4>
                <p>In 27 March 2016,Business News Foundation is holding its third annual energy conference amid numerous shifts
                    at the local, regional and global levels and in the trends of investment in the energy sector. Business
                    News Foundation is holding.
                </p>
                <div id="famousSec" class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12 famousCol">
                        <img class="img img-responsive" src="assets/images/f1.jpg" alt="famous1">
                        <div class="personName">
                            <span>H.E.Sherif Ismail Mohamed</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 famousCol">
                        <img class="img img-responsive" src="assets/images/f2.jpg" alt="famous2">
                        <div class="personName">
                            <span>H.E.Ashraf Soliman Ahmed</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 famousCol">
                        <img class="img img-responsive" src="assets/images/f3.jpg" alt="famous3">
                        <div class="personName">
                            <span>H.E.Ahmed Emam Ali<span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 famousCol">
                        <img class="img img-responsive" src="assets/images/f4.jpg" alt="famous4">
                        <div class="personName">
                            <span>H.E.Sahar Naser Mohamed</span>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>

<!--page navigator -->
<div class="navigator text-center">
    <div class="container">
        <hr/>
        <div>
            <!--<button class="btn"><< Previous </button>-->
            <button class="btn active">1</button>
            <button class="btn">2</button>
            <button class="btn">3</button>
            <button class="btn">...</button>
            <button class="btn">12</button>
            <button class="btn">Next >></button>
        </div>
    </div>
</div>